**
.*
!.gitignore
!default.nix
!firefox/
!fish/
!fuzzel/
!ghostty/
!hyprland/
!hyprpaper/
!keepassxc/
!kitty/
!monero-gui/
!moonlight-stream/
!neovim/
!nushell/
!remmina/
!steamguard-cli/
!tmux/
!vesktop/
!waybar/
!yazi/
!zellij/
